body{
    margin: 0;
    padding: 0;
}
body h1{
    text-align: center;
}
.calendar{
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* width: 20px; */
    width: 80%;
    row-gap: 20px;
    column-gap: 10px;
    /* text-align: center; */
    /* border-radius: 50px; */
    margin: 0 auto;
    /* border: 3px solid red; */
    

}

.date{
    background-color: rgb(246, 194, 7);
    border-radius: 5px;
    height: 100px;
    display: flex;
    /* order: 150; */
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
@media screen and (max-width:500px ){
    
}
